# Ignore the massive folder of installed packages
node_modules/

# Ignore system files (Mac/Windows specific junk)
.DS_Store
Thumbs.db

# Ignore environment variables (Protect my passwords!)
.env

# Ignore Firebase Admin SDK service account key
firebase-key.json
